{% extends 'base.html' %}
{% load static %}

{% block body %}

<main class="wrapper default">
    <div class="container">
        <div class="row">
            <div class="main-content login_content  col-12 col-md-7 col-lg-5 mx-auto">
                <header class="card-header">
                    <h3 class="card-title"><span>تایید ایمیل</span></h3>
                </header>
                <div class="login_box">
                    
                    
                    
                        <form  method="post" action="{% url 'account:check_verify_email' %}" class="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="form-account-title"><span>*</span> لطفا کد امنیتی ایمیل شده را وارد کنید</div>
                                    <div class="form-account-row">
                                        <input class="input_second input_all" name="verify-code" type="text" placeholder="">
                                    </div>
                                </div>

                                <div class="col-12 text--center">
                                    <button type="submit" href="#" class="btn big_btn btn-main-masai">ورود  </button>
                                </div>
                                <div class="col-12 ">

                                </div>
                            </div>
                        </form>
                    
                    
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock body %}
