{% load static %}

<div class="top-section fullscreen-container">
    <img src="{{template_setting.top_navbar.url}}" alt="{{template_setting.alt}}" class="h-100">
</div>
<!--start mobile header -->
<nav class="navbar direction-ltr fixed-top header-responsive">
    <div class="container">
        <div class="navbar-translate">

            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navigation" aria-controls="navigation-index" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
            <div class="search-nav default">
                <form action="#">
                    <input type="text" placeholder="جستجو ...">
                    <button type="submit"><img src="{% static 'assets/img/search.png' %}" alt=""></button>
                </form>

                <ul>
                    <li><a href="#"><i class="fa fa-user-large colormain" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-cart-arrow-down colormain" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <div class="logo-nav-res default text-center">
                <a href="#">
                    <img src="{{template_setting.logo.url}}" alt="{{template_setting.alt_logo}}">
                </a>
            </div>
            <ul class="navbar-nav default">
                {% for navbar in navbars %}
                {% if navbar.navbardepthtwo_set.exists %}
                <li class="sub-menu">
                    <a href="{{navbar.link}}">{{navbar.name}}</a>
                    <ul>
                        {% for navbar_two in navbar.navbardepthtwo_set.all %}
                        <li>
                            <a href="{{navbar_two.link}}">{{navbar_two.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="{{navbar.link}}">{{navbar.name}}</a>
                </li>
                {% endif %}
                {% endfor %}

            </ul>
        </div>
    </div>
</nav>
<!-- end mobile header -->
<div class="wrapper default">

    <!--start pc header -->
    <header class="Masai-header default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-5">
                    <div class="logo-area default">
                        <a href="/">
                            <img src="{{template_setting.logo.url}}" alt="{{template_setting.alt_logo}}">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-5 col-sm-8 col-7">
                    <div class="search-area default">
                        <form action="#" class="search">
                            <input type="text" placeholder="جستجو">
                            <button type="submit"><img src="{% static 'assets/img/search.png' %}" alt=""></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="user_head">
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'account:profile' %}" class="iconhead">

                            <i class="fa fa-user-large font-20" aria-hidden="true"></i>
                        </a>                        
                        {% else %}
                        <a href="{% url 'account:login' %}" class="iconhead">

                            <i class="fa fa-user-large font-20" aria-hidden="true"></i>
                        </a>                        
                        {% endif %}

                    </div>
                    <div class="cart dropdown masai_dropdown">
                        <span class="divider"></span>

                        <a href="#" class="dropdown-toggle iconhead" data-toggle="dropdown" id="navbar_a">
                            <i class="fa fa-cart-arrow-down font-20" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbar_a">

                            
                            <ul class="m_cart-list">
                                {% for product in products %}
                                <li class="m_cart_li1">
                                    <a href="{% url 'product:detail-view' id=product.id %}" class="m_cart-item">
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                        <div class="m_cart-item-content">
                                            <div class="m_cart-item-image">
                                                <img src="{{product.image.url}}" />
                                            </div>
                                            <div class="m_cart-item-details">
                                                <div class="m_cart-item-title">
                                                    {{product.name}}
                                                </div>
                                                <div class="m_cart-item-params">
                                                    <div class="m_cart-item-props">
                                                        <span>تعداد : {{product.customer_count}}</span>
                                                        <span style="background-color: {{product.color}};">رنگ: {{product.color}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                {% endfor %}

                            </ul>
                            <div class="btn_cart">
                                <a href="{% url 'cart:cart' %}" class="btn btn_sabad">مشاهده کامل سبد</a>
                                <a href="{% url 'cart:confirm_order' %}" class="btn btn_pardakht btn-main-masai">پرداخت</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <nav class="nav_header">
            <ul class="nav__ullist">
                {% for navbar in navbars %}
                <li class="list_style">
                    <i class="fa {{navbar.icon}} icon-icon" aria-hidden="true"></i><a href="{{navbar.link}}" class="list__link">{{navbar.name}}</a>
                    {% if navbar.navbardepthtwo_set.exists %}
                    <div class="submeno">
                        <ul class="main_meno-drobdown">
                            {% for navbar_two in navbar.navbardepthtwo_set.all %}
                            <li class="child_mno-drobdown">
                                <a href="{{navbar_two.link}}" class="run">{{navbar_two.name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </li>
                {% endfor %}

            </ul>
        </nav>
    </header>
    <!-- end pc header -->