{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- main-shopping -->
<main class="cart-page default">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <ul class="order-steps">
                    <li >
                        <a href="#" class="active">
                            <span>سبدخرید</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" class="active active2">
                            <span>تکمیل سفارش</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" class="active active3">
                            <span>پایان خرید</span>
                        </a>
                    </li>
                </ul>
            </div>
            
            <main class="cart default">
                <div class="container text-center cart_empty">

                    <img src="{% static 'assets/img/successful-cart.png' %}" class="" />
                    <h6>
                        تبریک، سفارش با موفقیت دریافت شد 
                        
                    </h6>
                    <p>
                        این اطمینان را به شما میدهیم که بزودی محصول خریداری شده شما را ارسال خواهیم کرد.
                        
                        
                    </p>
                    <p>
                        کد سفارش: <b>{{order_id}}</b>
                    </p>
                    <a href="{% url 'account:current_order' %}" class="btn btn-main-masai">مشاهده وضعیت سفارش</a>

                </div>
            </main>
        </div>
    </div>
</main>
<!-- main-shopping -->
{% endblock body %}
